html, body {
    height: 100%;
    margin: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(../img/bg/bg2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > main {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > header {
    display: flex;
    width: 100%;
    height: 6vh;
    margin-top: 1vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* For phones */
@media only screen and (max-width: 768px) {
    body > header {
        height: 3vh;
    }
}

#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60vw;
}

#nav-button {
    height: 100%;
    margin-left: 1vw;
}

body > header img {
    height: 100%;
}

body > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

body nav ul {
    list-style-type: none;
    padding: 0;
}

body > nav > ul > li {
    padding: 1vh;
}

#best {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: 3vw 0 3vw 0;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    overflow: hidden;
}

#best > button > img {
    max-width: 30%;
    padding: 0 5vw 0 5vw;
}

#best > img {
    height: 100%;
    max-width: 58%;
}

dialog[open] {
    width: 80vw;
    min-height: 40vh;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    border: none;
    overflow: hidden;
    background-image: url(../img/bg/bg2.png);
}

dialog > button > img {
    max-width: 50%;
}

dialog > img {
    max-width: 58%;
    object-fit: contain;
    max-height: 100%;
}

#closeModal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 6vw;
    padding: 0px 2vw 0px 0px;
}

#gallery {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#gallery button {
    flex: 1 1 30%;
    width: 30%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 1vw;
    padding: 0px;
}

body > footer {
    display: flex;
    justify-content: center;
    align-items: center;
}